{% extends 'AppBundle:admin:layout.html.twig' %}
{% block content %}
<div class="row">
    <h4>欢迎来到后台管理系统，点击左侧导航进入对应管理页面！</h4>
    <!--<div class="panel panel-default">
        <div class="panel-heading"><button class="btn btn-primary" id="sendMail">点击发送邮件给机构</button></div>
        <div class="panel-body" style="height: 400px;overflow: auto;" id="sendInfo"></div>
    </div>-->
</div>
{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}